    {% if qos is defined %}
    <qosrouter6000:qos xmlns:qosrouter6000="urn:rdns:com:ericsson:oammodel:ericsson-qos-router6000">
        {% if qos.class_map is defined %}
        {# ---------- THE FOLLOWING PART IS ABOUT CLASS-MAP CONFIGURATION ---------- #}
        {% for cp in qos.class_map %}
        <qosrouter6000:class-map>
        <qosrouter6000:map-name>{{ cp.map_name }}</qosrouter6000:map-name>
        {% if cp.type is defined and cp.type == 'ip' %}
            <qosrouter6000:ip>
                {% if cp.ip.in is defined and cp.ip.in is true %}
                <qosrouter6000:in/>
                {% elif cp.ip.out is defined and cp.ip.out is true %}
                <qosrouter6000:out/>
                {% endif %}
                {% if cp.ip.type is defined and cp.ip.type == 'maps' %}
                {% for ip_map in cp.ip.ip_maps %}
                <qosrouter6000:ip-map>
                    <qosrouter6000:dscp-value>{{ ip_map.dscp_value }}</qosrouter6000:dscp-value>
                    <qosrouter6000:to/>
                    <qosrouter6000:qos/>
                    <qosrouter6000:pd-value>{{ ip_map.pd_value }}</qosrouter6000:pd-value>
                </qosrouter6000:ip-map>
                {% endfor %}
                {% elif cp.ip.type is defined and cp.ip.type == 'qos' %}
                {% for q in cp.ip.qos %}
                <qosrouter6000:qos>
                    <qosrouter6000:pd-value>{{ q.pd_value }}</qosrouter6000:pd-value>
                    <qosrouter6000:to/>
                    <qosrouter6000:qos-choice>
                        <qosrouter6000:ip>{{ q.qos_choice.ip }}</qosrouter6000:mpls>
                    </qosrouter6000:qos-choice>
                </qosrouter6000:qos>
                {% endfor %}
                {% endif %}
            </qosrouter6000:ip>
        {% elif cp.type is defined and cp.type == 'mpls' %}
            <qosrouter6000:mpls>
                {% if cp.mpls.in is defined and cp.mpls.in is true %}
                <qosrouter6000:in/>
                {% elif cp.mpls.out is defined and cp.mpls.out is true %}
                <qosrouter6000:out/>
                {% endif %}
                {% if cp.mpls.type is defined and cp.mpls.type == 'maps' %}
                {% for mpls_map in cp.mpls.mpls_maps %}
                <qosrouter6000:mpls-map>
                    <qosrouter6000:mpls-value>{{ mpls_map.mpls_value }}</qosrouter6000:mpls-value>
                    <qosrouter6000:to>
                        <qosrouter6000:qos>{{ mpls_map.to.qos }}</qosrouter6000:qos>
                    </qosrouter6000:to>
                </qosrouter6000:mpls-map>
                {% endfor %}
                {% elif cp.mpls.type is defined and cp.mpls.type == 'qos' %}
                {% for q in cp.mpls.qos %}
                <qosrouter6000:qos>
                    <qosrouter6000:pd-value>{{ q.pd_value }}</qosrouter6000:pd-value>
                    <qosrouter6000:to/>
                    <qosrouter6000:qos-choice>
                        <qosrouter6000:mpls>{{ q.qos_choice.mpls }}</qosrouter6000:mpls>
                    </qosrouter6000:qos-choice>
                </qosrouter6000:qos>
                {% endfor %}
                {% endif %}
            </qosrouter6000:mpls>
        {% endif %}
        </qosrouter6000:class-map>
        {% endfor %}
        {% endif %}
        {# ---------- THE FOLLOWING PART IS ABOUT DSCP CONFIGURATION ---------- #}
        {% if qos.dscp is defined %}
        {% for dscp in qos.dscp %}
        <qosrouter6000:dscp>
            <qosrouter6000:qos-dscp-protocol>{{ dscp.qos_dscp_protocol }}</qosrouter6000:qos-dscp-protocol>
            <qosrouter6000:dscp-value>{{ dscp.dscp_value }}</qosrouter6000:dscp-value>
        </qosrouter6000:dscp>
        {% endfor %}
        {% endif %}
        {# ---------- THE FOLLOWING PART IS ABOUT POLICY CONFIGURATION ---------- #}
        {% if qos.policy is defined %}
        {% for policy in qos.policy %}
        <qosrouter6000:policy>
            <qosrouter6000:gpol-polname>{{ policy.gpol_polname }}</qosrouter6000:gpol-polname>
            <qosrouter6000:pwfq>
                <qosrouter6000:rate>
                    <qosrouter6000:pir>
                        <qosrouter6000:rate-num>{{ policy.pwfq.rate.pir.rate_num }}</qosrouter6000:rate-num>
                    </qosrouter6000:pir>
                    <qosrouter6000:cir>
                        <qosrouter6000:rate-num>{{ policy.pwfq.rate.cir.rate_num }}</qosrouter6000:rate-num>
                    </qosrouter6000:cir>
                </qosrouter6000:rate>
                <qosrouter6000:num-queues>{{ policy.pwfq.num_queues }}</qosrouter6000:num-queues>
                {% for queue in policy.pwfq.queue %}
                <qosrouter6000:queue>
                    <qosrouter6000:queue-num>{{ queue.queue_num }}</qosrouter6000:queue-num>
                    <qosrouter6000:queue-choice>
                        <qosrouter6000:priority>
                            <qosrouter6000:priority/>
                            <qosrouter6000:priority-num>{{ queue.queue_choice.priority.priority_num }}</qosrouter6000:priority-num>
                            {% if queue.queue_choice.priority.strict_priority is defined %}
                            <qosrouter6000:strict-priority>{{ queue.queue_choice.priority.strict_priority }}</qosrouter6000:strict-priority>
                            {% endif %}
                            {% if queue.queue_choice.priority.weight is defined %}
                            <qosrouter6000:weight>{{ queue.queue_choice.priority.weight }}</qosrouter6000:weight>
                            {% endif %}
                        </qosrouter6000:priority>
                        {% if queue.queue_choice.rate_maximum is defined %}
                        <qosrouter6000:rate-maximum>
                            <qosrouter6000:Percentage>{{ queue.queue_choice.rate_maximum.Percentage }}</qosrouter6000:Percentage>
                        </qosrouter6000:rate-maximum>
                        {% endif %}
                    </qosrouter6000:queue-choice>
                </qosrouter6000:queue>
                {% endfor %}
            </qosrouter6000:pwfq>
        </qosrouter6000:policy>
        {% endfor %}
        {% endif %}
    </qosrouter6000:qos>
    {% endif %}