#jinja2: lstrip_blocks: True
<data xmlns="urn:ietf:params:xml:ns:netconf:base:1.0" xmlns:nc="urn:ietf:params:xml:ns:netconf:base:1.0">
    <ctxsr6k:contexts xmlns:ctxsr6k="urn:rdns:com:ericsson:oammodel:ericsson-contexts-router6000" xmlns:syncr6000="urn:rdns:com:ericsson:oammodel:ericsson-synchronization-router6000" xmlns:ctxr6k="urn:rdns:com:ericsson:oammodel:ericsson-context-router6000" xmlns:servicer6k="urn:rdns:com:ericsson:oammodel:ericsson-service-router6000" xmlns:bfdr6k="urn:rdns:com:ericsson:oammodel:ericsson-bfd-router6000" xmlns:isisrouter6000="urn:rdns:com:ericsson:oammodel:ericsson-isis-router6000" xmlns:routepcyrouter6000="urn:rdns:com:ericsson:oammodel:ericsson-route-policy-router6000" xmlns:keychainrouter6000="urn:rdns:com:ericsson:oammodel:ericsson-key-chain-router6000" xmlns:mplsr6k="urn:rdns:com:ericsson:oammodel:ericsson-mpls-router6000" xmlns:qoscfgr6k="urn:rdns:com:ericsson:oammodel:ericsson-qos-config-router6000" xmlns:ldprouter6000="urn:rdns:com:ericsson:oammodel:ericsson-ldp-router6000" xmlns:loggerrouter6000="urn:rdns:com:ericsson:oammodel:ericsson-logger-router6000" xmlns:starouter6k="urn:rdns:com:ericsson:oammodel:ericsson-static-route-router6000" xmlns:ntpr6k="urn:rdns:com:ericsson:oammodel:ericsson-ntp-router6000" xmlns:fragmentrouter6000="urn:rdns:com:ericsson:oammodel:ericsson-fragment-router6000" xmlns:lldprouter6000="urn:rdns:com:ericsson:oammodel:ericsson-lldp-router6000" xmlns:systemrouter6000="urn:rdns:com:ericsson:oammodel:ericsson-system-router6000" xmlns:iproutingrouter6000="urn:rdns:com:ericsson:oammodel:ericsson-iprouting-router6000" xmlns:snmpr6k="urn:rdns:com:ericsson:oammodel:ericsson-snmp-router6000">
        {% include "templates/eric_eccli_ntp.j2" %}
    </ctxsr6k:contexts>
</data>