        {% if ntp_mode is defined %}
        <ntpr6k:ntp-mode>
        {% for ntp_server in ntp_mode.servers %}
          <ntpr6k:server>
            <ntpr6k:server-choice>{{ ntp_server.server_choice }}</ntpr6k:server-choice>
            <ntpr6k:version>{{ ntp_server.version }}</ntpr6k:version>
            <ntpr6k:source>{{ ntp_server.source }}</ntpr6k:source>
          </ntpr6k:server>
        {% endfor %}
        </ntpr6k:ntp-mode>
        {% endif %}