#jinja2: lstrip_blocks: True
<data xmlns="urn:ietf:params:xml:ns:netconf:base:1.0" xmlns:nc="urn:ietf:params:xml:ns:netconf:base:1.0">
    {% include "templates/ericsson_6675/qos.j2" %}
    {% include "templates/ericsson_6675/interfaces.j2" %}
    {% include "templates/ericsson_6675/contexts.j2" %}
</data>