    {% if config_formatted['interfaces'] is defined %}
    <if:interfaces xmlns:if="urn:ietf:params:xml:ns:yang:ietf-interfaces" xmlns:ianaift="urn:ietf:params:xml:ns:yang:iana-if-type" xmlns:ifxrouter6000="urn:rdns:com:ericsson:oammodel:ericsson-interfaces-ext-router6000" xmlns:ifqosxrouter6000="urn:rdns:com:ericsson:oammodel:ericsson-interface-qos-ext-router6000" xmlns:lagxrouter6000="urn:rdns:com:ericsson:oammodel:ericsson-lag-ext-router6000" xmlns:ethxrouter6000="urn:rdns:com:ericsson:oammodel:ericsson-ethernet-ext-router6000">
        {% for interface in config_formatted['interfaces'] %}
        <if:interface>
            <if:name>{{ interface['name'] }}</if:name>
            <if:type>{{ interface['type'] }}</if:type>
            {% if interface['description'] is defined %}
            <if:description>{{ interface['description'] }}</if:description>
            {% endif %}
            {% if interface['enabled'] is defined and interface['enabled'] is true %}
            <if:enabled>true</if:enabled>
            {% endif %}
            {# ---------- L3 INTERFACES ---------- #}
            {% if interface['l3-interface'] is defined %}
            <ifxrouter6000:l3-interface>
                <ifxrouter6000:context>{{ interface['l3-interface']['context'] }}</ifxrouter6000:context>
                <ifxrouter6000:ip>
                    <ifxrouter6000:address>
                        <ifxrouter6000:addr-primary-conf>
                            <ifxrouter6000:addr>{{ interface['l3-interface']['ip']['address']['addr-primary-conf']['addr'] }}</ifxrouter6000:addr>
                        </ifxrouter6000:addr-primary-conf>
                    </ifxrouter6000:address>
                </ifxrouter6000:ip>
                <ifqosxrouter6000:propagate-qos>
                    <ifqosxrouter6000:from-ip>
                        <ifqosxrouter6000:class-map>{{ interface['l3-interface']['propagate-qos']['from-ip']['class-map'] }}</ifqosxrouter6000:class-map>
                    </ifqosxrouter6000:from-ip>
                </ifqosxrouter6000:propagate-qos>
            </ifxrouter6000:l3-interface>
            {% endif %}
            {# ---------- LINK-GROUP INTERFACES ---------- #}
            {% if interface['link-group'] is defined %}
            <lagxrouter6000:link-group>
                <ifqosxrouter6000:qos>
                    <ifqosxrouter6000:pwfq>
                        <ifqosxrouter6000:scheduling>{{ interface['link-group']['qos']['pwfq']['scheduling'] }}</ifqosxrouter6000:scheduling>
                    </ifqosxrouter6000:pwfq>
                    <ifqosxrouter6000:policy>
                        <ifqosxrouter6000:queuing>{{ interface['link-group']['qos']['policy']['queuing'] }}</ifqosxrouter6000:queuing>
                    </ifqosxrouter6000:policy>
                </ifqosxrouter6000:qos>
                <lagxrouter6000:maximum-links>{{ interface['link-group']['maximum-links'] }}</lagxrouter6000:maximum-links>
                {% if interface['link-group']['lacp'] is defined %}
                <lagxrouter6000:lacp>
                    {% if interface['link-group']['lacp']['active'] is defined %}
                    <lagxrouter6000:active/>
                    {% endif %}
                    {% if interface['link-group']['lacp']['periodic-timeout'] is defined %}
                    <lagxrouter6000:periodic-timeout>
                        {% if interface['link-group']['lacp']['periodic-timeout']['long'] is defined %}
                        <lagxrouter6000:long/>
                        {% endif %}
                    </lagxrouter6000:periodic-timeout>
                    {% endif %}
                </lagxrouter6000:lacp>
                {% endif %}
                {% if interface['link-group']['bind-interface'] is defined %}
                <lagxrouter6000:bind-interface>
                    <lagxrouter6000:intf-name>{{ interface['link-group']['bind-interface']['intf-name'] }}</lagxrouter6000:intf-name>
                    <lagxrouter6000:intf-ctx>{{ interface['link-group']['bind-interface']['intf-ctx'] }}</lagxrouter6000:intf-ctx>
                </lagxrouter6000:bind-interface>
                {% endif %}
            </lagxrouter6000:link-group>
            {% endif %}
            {# ---------- ETHERNET INTERFACES ---------- #}
            {% if interface['ethernet'] is defined %}
            <ethxrouter6000:ethernet>
                {% if interface['ethernet']['port-type'] is defined %}
                <ethxrouter6000:port-type>{{ interface['ethernet']['port-type'] }}</ethxrouter6000:port-type>
                {% endif %}
                {% if interface['ethernet']['mtu'] is defined %}
                <ethxrouter6000:mtu>{{ interface['ethernet']['mtu'] }}</ethxrouter6000:mtu>
                {% endif %}
                {% if interface['ethernet']['link-dampening'] is defined %}
                <ethxrouter6000:link-dampening>
                    <ethxrouter6000:link-dampening-opt>
                        {% if interface['ethernet']['link-dampening']['link-dampening-opt']['up'] is defined %}
                        <ethxrouter6000:up>{{ interface['ethernet']['link-dampening']['link-dampening-opt']['up'] }}</ethxrouter6000:up>
                        {% endif %}
                        {% if interface['ethernet']['link-dampening']['link-dampening-opt']['down'] is defined %}
                        <ethxrouter6000:down>{{ interface['ethernet']['link-dampening']['link-dampening-opt']['down'] }}</ethxrouter6000:down>
                        {% endif %}
                    </ethxrouter6000:link-dampening-opt>
                </ethxrouter6000:link-dampening>
                {% endif %}
                {% if interface['ethernet']['link-group'] is defined %}
                <ethxrouter6000:link-group>{{ interface['ethernet']['link-group'] }}</ethxrouter6000:link-group>
                {% endif %}
            </ethxrouter6000:ethernet>
            {% endif %}
        </if:interface>
        {% endfor %}
    </if:interfaces>
    {% endif %}
 