
        {% if config_formatted['contexts_vars'] is defined and config_formatted['contexts_vars']['lldp'] is defined %}
        <lldprouter6000:lldp>
                {% if config_formatted['contexts_vars']['lldp']['enable'] is defined %}
                <lldprouter6000:enable>
                    <lldprouter6000:lldp-enable>{{ config_formatted['contexts_vars']['lldp']['enable']['lldp-enable'] }}</lldprouter6000:lldp-enable>
                </lldprouter6000:enable>
                {% endif %}
                {% if config_formatted['contexts_vars']['lldp']['port-id-type'] is defined %}
                <lldprouter6000:port-id-type>
                    {% if config_formatted['contexts_vars']['lldp']['port-id-type']['locally-assigned'] is defined %}
                    <lldprouter6000:locally-assigned/>
                    {% endif %}
                </lldprouter6000:port-id-type>
                {% endif %}
        </lldprouter6000:lldp>
        {% endif %}