        {% if config_formatted['contexts_vars'] is defined and config_formatted['contexts_vars']['service'] is defined %}
        <ctxsr6k:service>
          {% if config_formatted['contexts_vars']['service']['multiple-contexts'] is defined %}
          <ctxsr6k:multiple-contexts>{{ config_formatted['contexts_vars']['service']['multiple-contexts'] }}</ctxsr6k:multiple-contexts>
          {% endif %}
          {% if config_formatted['contexts_vars']['service']['load-balance'] is defined %}
          <ctxsr6k:load-balance>
            <ctxsr6k:link-group>
              {% if config_formatted['contexts_vars']['service']['load-balance']['link-group']['layer-4'] is defined %}
              <ctxsr6k:layer-4/>
              {% endif %}
            </ctxsr6k:link-group>
          </ctxsr6k:load-balance>
          {% endif %}
          {% if config_formatted['contexts_vars']['service']['history-username-display'] is defined %}
          <servicer6k:history-username-display/>
          {% endif %}
          {% if config_formatted['contexts_vars']['service']['exit-prompt'] is defined %}
          <servicer6k:exit-prompt/>
          {% endif %}
        </ctxsr6k:service>
        {% endif %}