        {% if config_formatted['contexts_vars'] is defined and config_formatted['contexts_vars']['snmp'] is defined %}
        <snmpr6k:snmp>
            <snmpr6k:server>
                {% if config_formatted['contexts_vars']['snmp']['server']['enhance-ifmib'] is defined %}
                <snmpr6k:enhance-ifmib/>
                {% endif %}
                {% if config_formatted['contexts_vars']['snmp']['server']['traps'] is defined %}
                <snmpr6k:traps>
                    {% for trap in config_formatted['contexts_vars']['snmp']['server']['traps'] %}
                    <snmpr6k:{{ trap }}/>
                    {% endfor %}
                </snmpr6k:traps>
                {% endif %}
                {% if config_formatted['contexts_vars']['snmp']['server']['alarms-config'] is defined %}
                <snmpr6k:alarms-config>
                    {% for alarm in config_formatted['contexts_vars']['snmp']['server']['alarms-config'] %}
                    <snmpr6k:{{ alarm }}/>
                    {% endfor %}
                </snmpr6k:alarms-config>
                {% endif %}
            </snmpr6k:server>
            {% if config_formatted['contexts_vars']['snmp']['view'] is defined %}
            {% for view in config_formatted['contexts_vars']['snmp']['view'] %}
            <snmpr6k:view>
                <snmpr6k:name>{{ view['name'] }}</snmpr6k:name>
                <snmpr6k:oid-tree>{{ view['oid-tree'] }}</snmpr6k:oid-tree>
                <snmpr6k:restriction>{{ view['restriction'] }}</snmpr6k:restriction>
            </snmpr6k:view>
            {% endfor %}
            {% endif %}
            {% if config_formatted['contexts_vars']['snmp']['group'] is defined %}
            {% for group in config_formatted['contexts_vars']['snmp']['group'] %}
            <snmpr6k:group>
                <snmpr6k:group-name>{{ group['group-name'] }}</snmpr6k:group-name>
                {% if group['security-model'] is defined %}
                <snmpr6k:security-model>
                    <snmpr6k:usm>
                        <snmpr6k:usm-type>{{ group['security-model']['usm']['usm-type'] }}</snmpr6k:usm-type>
                        <snmpr6k:usm-context>
                            <snmpr6k:all-contexts>
                                {% if group['security-model']['usm']['usm-context']['all-contexts']['read'] is defined %}
                                <snmpr6k:read>{{ group['security-model']['usm']['usm-context']['all-contexts']['read'] }}</snmpr6k:read>
                                {% endif %}
                                {% if group['security-model']['usm']['usm-context']['all-contexts']['write'] is defined %}
                                <snmpr6k:write>{{ group['security-model']['usm']['usm-context']['all-contexts']['write'] }}</snmpr6k:write>
                                {% endif %}
                            </snmpr6k:all-contexts>
                        </snmpr6k:usm-context>
                    </snmpr6k:usm>
                </snmpr6k:security-model>
                {% endif %}
            </snmpr6k:group>
            {% endfor %}
            {% endif %}
            {% if config_formatted['contexts_vars']['snmp']['user'] is defined %}
            {% for user in config_formatted['contexts_vars']['snmp']['user'] %}
            <snmpr6k:user>
                <snmpr6k:user-name>{{ user['user-name'] }}</snmpr6k:user-name>
                <snmpr6k:user-choice>
                    <snmpr6k:engine-local>
                        <snmpr6k:group>{{ user['user-choice']['engine-local']['group'] }}</snmpr6k:group>
                        <snmpr6k:security-model-usm>
                            {% if user['user-choice']['engine-local']['security-model-usm']['sha'] is defined %}
                            <snmpr6k:sha>
                                <snmpr6k:key>
                                    <snmpr6k:encoded>
                                        <snmpr6k:base64>{{ user['user-choice']['engine-local']['security-model-usm']['sha']['key']['encoded']['base64'] }}</snmpr6k:base64>
                                    </snmpr6k:encoded>
                                    <snmpr6k:des56>{{ user['user-choice']['engine-local']['security-model-usm']['sha']['key']['des56'] }}</snmpr6k:des56>
                                </snmpr6k:key>
                            </snmpr6k:sha>
                            {% elif user['user-choice']['engine-local']['security-model-usm']['md5'] is defined %}
                            <snmpr6k:md5>
                                <snmpr6k:key>
                                    <snmpr6k:encoded>
                                        <snmpr6k:base64>{{ user['user-choice']['engine-local']['security-model-usm']['md5']['key']['encoded']['base64'] }}</snmpr6k:base64>
                                    </snmpr6k:encoded>
                                    <snmpr6k:des56>{{ user['user-choice']['engine-local']['security-model-usm']['md5']['key']['des56'] }}</snmpr6k:des56>
                                </snmpr6k:key>
                            </snmpr6k:md5>
                            {% endif %}
                        </snmpr6k:security-model-usm>
                    </snmpr6k:engine-local>
                </snmpr6k:user-choice>
            </snmpr6k:user>
            {% endfor %}
            {% endif %}
            {% if config_formatted['contexts_vars']['snmp']['notify'] is defined %}
            {% for notif in config_formatted['contexts_vars']['snmp']['notify'] %}
            <snmpr6k:notify>
                <snmpr6k:notify-name>{{ notif['notify-name'] }}</snmpr6k:notify-name>
                <snmpr6k:notify-tag>{{ notif['notify-tag'] }}</snmpr6k:notify-tag>
                <snmpr6k:type>{{ notif['type'] }}</snmpr6k:type>
            </snmpr6k:notify>
            {% endfor %}
            {% endif %}
            {% if config_formatted['contexts_vars']['snmp']['target-parameter'] is defined %}
            {% for target_parameter in config_formatted['contexts_vars']['snmp']['target-parameter'] %}
            <snmpr6k:target-parameters>
                <snmpr6k:parameter-name>{{ target_parameter['parameter-name'] }}</snmpr6k:parameter-name>
                <snmpr6k:security-name>
                    <snmpr6k:user-name>
                        <snmpr6k:user-name>{{ target_parameter['security-name']['user-name']['user-name'] }}</snmpr6k:user-name>
                        {% if target_parameter['security-name']['user-name']['version-3'] is defined %}
                        <snmpr6k:version-3/>
                        {% endif %}
                        <snmpr6k:security-level>{{ target_parameter['security-name']['user-name']['security-level'] }}</snmpr6k:security-level>
                    </snmpr6k:user-name>
                </snmpr6k:security-name>
            </snmpr6k:target-parameters>
            {% endfor %}
            {% endif %}
            {% if config_formatted['contexts_vars']['snmp']['notify-target'] is defined %}
            {% for notify_target in config_formatted['contexts_vars']['snmp']['notify-target'] %}
            <snmpr6k:notify-target>
                <snmpr6k:ntfytrgt-name>{{ notify_target['ntfytrgt-name'] }}</snmpr6k:ntfytrgt-name>
                <snmpr6k:ipos-choice>
                    <snmpr6k:ipos-choice-choice>{{ notify_target['ipos-choice']['ipos-choice-choice'] }}</snmpr6k:ipos-choice-choice>
                    <snmpr6k:address-context>{{ notify_target['ipos-choice']['address-context'] }}</snmpr6k:address-context>
                    {% if notify_target['ipos-choice']['tag'] is defined %}
                    <snmpr6k:tag/>
                    {% endif %}
                    <snmpr6k:tag-val>{{ notify_target['ipos-choice']['tag-val'] }}</snmpr6k:tag-val>
                    {% if notify_target['ipos-choice']['param'] is defined %}
                    <snmpr6k:param/>
                    {% endif %}
                    <snmpr6k:parm-val>{{ notify_target['ipos-choice']['parm-val'] }}</snmpr6k:parm-val>
                </snmpr6k:ipos-choice>
            </snmpr6k:notify-target>
            {% endfor %}
            {% endif %}
            {% if config_formatted['contexts_vars']['snmp']['ericsson-alarm'] is defined %}
            <snmpr6k:ericsson-alarm>
                <snmpr6k:heartbeat-interval>{{ config_formatted['contexts_vars']['snmp']['ericsson-alarm']['heartbeat-interval'] }}</snmpr6k:heartbeat-interval>
            </snmpr6k:ericsson-alarm>
            {% endif %}
        </snmpr6k:snmp>
        {% endif %}