        {% if config_formatted['contexts_vars'] is defined and config_formatted['contexts_vars']['system'] is defined %}
        <systemrouter6000:system>
            {% if config_formatted['contexts_vars']['system']['clock'] is defined %}
            <systemrouter6000:clock>
                {% if config_formatted['contexts_vars']['system']['clock']['timezones'] is defined %}
                {% for timezone in config_formatted['contexts_vars']['system']['clock']['timezones'] %}
                <systemrouter6000:timezone>
                    <systemrouter6000:timezone-str>{{ timezone['timezone-str'] }}</systemrouter6000:timezone-str>
                    <systemrouter6000:timezone-hr>{{ timezone['timezone-hr'] }}</systemrouter6000:timezone-hr>
                    <systemrouter6000:timezone-min>{{ timezone['timezone-min'] }}</systemrouter6000:timezone-min>
                    {% if timezone['local'] is defined %}
                    <systemrouter6000:local/>
                    {% endif %}
                </systemrouter6000:timezone>
                {% endfor %}
                {% endif %}
                {% if config_formatted['contexts_vars']['system']['clock']['summer-time'] is defined %}
                <systemrouter6000:summer-time>
                    <systemrouter6000:summer-str>{{ config_formatted['contexts_vars']['system']['clock']['summer-time']['summer-str'] }}</systemrouter6000:summer-str>
                    <systemrouter6000:summer-str2>{{ config_formatted['contexts_vars']['system']['clock']['summer-time']['summer-str2'] }}</systemrouter6000:summer-str2>
                    {% if config_formatted['contexts_vars']['system']['clock']['summer-time']['recurring'] is defined %}
                    <systemrouter6000:recurring>
                      <systemrouter6000:recurring-opt>
                        {% if config_formatted['contexts_vars']['system']['clock']['summer-time']['recurring']['recurring-opt']['last-start'] is defined %}
                        <systemrouter6000:last-start/>
                        {% endif %}
                        <systemrouter6000:summer-day>{{ config_formatted['contexts_vars']['system']['clock']['summer-time']['recurring']['recurring-opt']['summer-day'] }}</systemrouter6000:summer-day>
                        <systemrouter6000:summer-month>{{ config_formatted['contexts_vars']['system']['clock']['summer-time']['recurring']['recurring-opt']['summer-month'] }}</systemrouter6000:summer-month>
                        <systemrouter6000:summer-time>{{ config_formatted['contexts_vars']['system']['clock']['summer-time']['recurring']['recurring-opt']['summer-time'] }}</systemrouter6000:summer-time>
                        {% if config_formatted['contexts_vars']['system']['clock']['summer-time']['recurring']['recurring-opt']['last-end'] is defined %}
                        <systemrouter6000:last-end/>
                        {% endif %}
                        <systemrouter6000:summer-day2>{{ config_formatted['contexts_vars']['system']['clock']['summer-time']['recurring']['recurring-opt']['summer-day2'] }}</systemrouter6000:summer-day2>
                        <systemrouter6000:summer-month2>{{ config_formatted['contexts_vars']['system']['clock']['summer-time']['recurring']['recurring-opt']['summer-month2'] }}</systemrouter6000:summer-month2>
                        <systemrouter6000:summer-time2>{{ config_formatted['contexts_vars']['system']['clock']['summer-time']['recurring']['recurring-opt']['summer-time2'] }}</systemrouter6000:summer-time2>
                      </systemrouter6000:recurring-opt>
                    </systemrouter6000:recurring>
                    {% endif %}
                </systemrouter6000:summer-time>
                {% endif %}
            </systemrouter6000:clock>
            {% endif %}
            {% if config_formatted['contexts_vars']['system']['confirmations'] is defined %}
            {% if config_formatted['contexts_vars']['system']['confirmations']['context'] is defined %}
            <systemrouter6000:confirmations>
                <systemrouter6000:context/>
            </systemrouter6000:confirmations>
            {% endif %}
            {% endif %}
            {% if config_formatted['contexts_vars']['system']['hostname'] is defined %}
            <systemrouter6000:hostname>{{ config_formatted['contexts_vars']['system']['hostname'] }}</systemrouter6000:hostname>
            {% endif %}
            {% if config_formatted['contexts_vars']['system']['description'] is defined %}
            <systemrouter6000:description>{{ config_formatted['contexts_vars']['system']['description'] }}</systemrouter6000:description>
            {% endif %}
            {% if config_formatted['contexts_vars']['system']['dnprefix'] is defined %}
            <systemrouter6000:dnprefix>{{ config_formatted['contexts_vars']['system']['dnprefix'] }}</systemrouter6000:dnprefix>
            {% endif %}
        </systemrouter6000:system>
        {% endif %}